*{
    box-sizing: border-box;
}
body{
    /* Changer la couleur de font*/
    background-color: rgb(212, 213, 214);
}
.entete{
        /* La page entiere*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0  ;
}
.empty{
    /* Les propriete des carres(Drop)*/
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px  black;
    background: white;
}
.fill{
    /* Les propriete de l'image, nous avont choisi une image personnel*/
    /* 'https://source.unsplash.com/ random/150x150'*/
    background-image: url("IMG.jpg");  
    height: 145px;
    width: 145px;
    cursor: pointer;
}
.hold{
    /* le bordure du carre*/
    border: solid 5px #ccc;
}
.hovered{
    /* sa s'applique au champ selectionne */
    background-color: #333;
    border-color: white;
    border-style: dashed;
} 
@media(max-width: 800px){
    body{
        flex-direction: column;
    }
}
    /*CSS btn*/
            .btn{
                background-position: top;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 15px;
            } 
                
            .Click-btn {
                width: 1250px;   
                height: 40px;   
                border: none;
                outline: none;
                color: rgb(249, 249, 250);
                background: rgb(5, 5, 5);
                cursor: pointer;
                position: relative;
                z-index: 0;
                border-radius: 50px;
                font-size: 20px;
                font-weight: bold;
            }
            
            .Click-btn:before {
                content: '';
                background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                position: absolute;
                top: -2px;
                left:-2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                animation: glowing 20s linear infinite;
                opacity: 0;
                transition: opacity .3s ease-in-out;
                border-radius: 10px;
            }
            
            .Click-btn:active {
                color: #000
            }
            
            .Click-btn:active:after {
                background: transparent;
            }
            
            .Click-btn:hover:before {
                opacity: 1;
            }
            
            .Click-btn:after {
                z-index: -1;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: #111;
                left: 0;
                top: 0;
                border-radius: 10px;
            }
            
            @keyframes glowing {
                0% { background-position: 0 0; }
                50% { background-position: 400% 0; }
                100% { background-position: 0 0; }
            }

