*{
  margin:0; padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s linear;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.content{
  min-height: 130vh;
  background:url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header .header-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#fff;
  width: 100%;
  padding:10px 20px;
}

header .header-1 .logo{
  color:black;
  font-size: 25px;
}

header .header-1 form{
  display: flex;
}

header .header-1 form #search{
  height: 40px;
  width: 600px;
  background:none;
  outline: none;
  border:2px solid black;
  color:#333;
  padding:0 10px;
  font-size: 17px;
}

header .header-1 form label{
  height: 40px;
  width: 60px;
  background:black;
  color:#fff;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

header .header-1 form label:hover{
  color:#fff8;
}

header .header-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:black;
  width: 100%;
  padding:10px 20px;
}

header .header-2 .navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .header-2 .navbar ul li{
  margin:10px;
}

header .header-2 .navbar ul li a{
  color:#fff;
  font-size: 20px;
}

header .header-2 .navbar ul li a:hover{
  color:#fff8;
}

header .header-2 .icons a{
  font-size: 20px;
  color:#fff;
  margin:10px;
}

header .header-2 .icons a:hover{
  color:#fff8;
}

#menu{
  font-size: 30px;
  color:#fff;
  cursor: pointer;
  display: none;
}

header .header-2.sticky{
  position: fixed;
  top: 0; left: 0;
  box-shadow: 0 3px 5px #333;
  background-color: crimson;
}
.container{
  max-width: 1200px;
  margin:0 auto ;
}
.hero{
  background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}
.hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.hero h1{
  font-size: 46px;
  margin: -20px 0 20px;
}
.hero p{
  font-size: 20px;
  letter-spacing: 1.5px;
}
.container_content{
  
  color: #000;
}
/* media queries  */

@media (max-width:991px){

  header .header-1 form #search{
    width: 100%;
  }

}

@media (max-width:768px){

  header .header-2 #menu{
    display: block;
  }

  header .header-2 .navbar{
    position: fixed;
    top:-1000px; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  header .header-2 .navbar ul{
    flex-flow: column;
    width: 250px;
    border-radius: 5px;
    padding:30px 10px;
    background:crimson;
    box-shadow: 0 0 0 100vh rgba(0,0,0,.5),
                0 3px 5px #000;
  }

  header .header-2 .navbar ul li{
    width:100%;
    text-align: center;
  }

  header .header-2 .navbar ul li a{
    font-size: 25px;
    display: block;
  }

  header .header-2 .navbar.nav-toggle{
    top:55%;
    opacity: 1;
  }

}

@media (max-width:500px){

  header .header-1{
    flex-flow: column;
  }

  header .header-1 form{
    padding-top: 10px;
  }

}